*/bin
*/bin
*/obj
AvenSellWebApi/.DS_Store
.vs/*/xs
Entity/.DS_Store
*/.DS_Store
.DS_Store
.vs
*.user
*PublishProfiles
.idea/.idea.KadimGrossAvenSellBackEnd/.idea/.name
*.xml
.idea/.idea.KadimGrossAvenSellBackEnd/.idea/indexLayout.xml
